.leadership-section {
  padding: 80px 0;

  h6 {
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 40px;
  }

  article {
    margin-bottom: 72px;
    .entry__content {
      margin-bottom: 0;
    }
  }
}

.leaders-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  &__leader {
    width: 100%;
    //max-width: 308px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

    a {
      color: $sherwood-green;
    }

    .leader-photo {
      margin-bottom: 24px;
      width: 100%;
      max-width: calc(35% - 50px);
      img {
        aspect-ratio: 1/1.1;
        object-fit: cover;
      }
    }
    .leader-info {
      width: 100%;
      //max-width: calc(60% + 50px);
      max-width: 65%;

      article {
        margin-bottom: 15px;
      }
    }

    .leader-name {
      margin-bottom: 16px;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 27px; /* 150% */
    }

    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 150% */
    }
  }

  @include breakpoint(small down) {
    &__leader {
      flex-wrap: wrap;
      gap: 20px;

      .leader-info,
      .leader-photo {
        max-width: 100%;

        article {
          margin-bottom: 50px;
        }
      }
    }
  }
}

.single-team {
  .single-leaders-list {
    padding: 80px 0;
    position: relative;
    overflow: hidden;

    .top-graphics {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 100%;

      &:before {
        content: '';
        width: 388px;
        height: 1px;
        background-color: $sherwood-green;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .leaders-list {
    justify-content: center;
    gap: 72px;
  }
}
