.services-section {
  padding: 80px 0 160px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  //background-attachment: fixed;

  //&:after {
  //  content: '';
  //  position: absolute;
  //  clip-path: polygon(
  //    0 0,
  //    48.5% 0,
  //    50% 50%,
  //    51.5% 0,
  //    100% 0,
  //    100% 100%,
  //    0 100%
  //  );
  //  left: 50%;
  //  transform: translateX(-50%);
  //  width: 3000px;
  //  height: 80px;
  //  bottom: 0px;
  //  z-index: 2;
  //  background-color: $white;
  //}

  h2 {
    margin-bottom: 72px;
  }

  .services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 40px;

    &__item {
      text-align: center;
      width: 100%;
      max-width: 311px;
      padding: 0 18px;

      .item-title {
        color: $sherwood-green;
      }

      .item-subservices {
        //display: none;
        text-align: left;
        max-width: 70%;
        margin: 10px auto 0;
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-out;

        .item-subservices-wrap {
          display: block;
          overflow: hidden;
          padding: 10px 0;
        }
        ol {
          opacity: 0;
          transition: all 0.5s ease-out;
        }
        li {
          font-size: 14px;
          line-height: 1;
          margin-bottom: 15px;
        }
      }

      &:hover {
        .item-subservices {
          //display: block;
          grid-template-rows: 1fr;
          .item-subservices-wrap {
            ol {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
