.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 13px 15px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.35) 30%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  .menu-grid-container {
    max-width: 1360px;
  }
}

.admin-bar .header {
  top: 32px;
}
.single .header {
  position: relative;
  background: $white;

  li {
    > a {
      color: $sherwood-green !important;
    }

    &.is-active > a {
      /* Parent link style on dropdown hover */
      //background: $white;
      color: $norway-green;
    }
  }
}
.logo {
  h1 {
    font-size: 0;
  }

  a {
    display: inline-block;
  }

  img {
    max-height: 150px;
  }
}

@include breakpoint(small down) {
  /* TOP BAR Mobile STYLING */

  .menu-grid-container {
    padding-left: 0;
    padding-right: 0;

    .grid-margin-x {
      margin-left: 0;
      margin-right: 0;

      .cell {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
  }

  //.title-bar {
  //  line-height: 45px;
  //
  //  .menu-icon {
  //    padding: 0;
  //    border: none;
  //    background-color: transparent;
  //
  //    //@include menu-icon($white, $white, 30px, 24px, 3px);
  //  }
  //}

  .top-bar {
    display: none;
    background: $primary-color; /* menu list background color */
  }

  .header-menu {
    background: transparent;

    li {
      > a {
        background: $primary-color; /* menu item background color */
        color: $white; /* menu item text color */
        line-height: 45px;

        &:focus {
          &,
          & + .submenu-toggle {
            background: darken(
              $primary-color,
              5
            ); /* menu item background color on hover */
          }
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a,
        .submenu-toggle {
          background: lighten(
            $primary-color,
            5
          ); /* current/parent menu item background color */
        }
      }

      &[aria-expanded='true'] {
        > a,
        .submenu-toggle {
          background: darken(
            $primary-color,
            3
          ); /* menu item background color on open dropdown */
        }
      }
    }

    .submenu-toggle {
      padding: 0;
    }

    .submenu {
      a {
        padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
      }

      .submenu {
        a {
          padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
        }
      }
    }
  }
}

@include breakpoint(medium) {
  /* TOP BAR STYLING */

  .top-bar {
    height: 100%;
    display: flex !important;
    flex-direction: row;
    .menu-main-menu-container {
      flex-grow: 1;
      height: 100%;
    }
  }

  .header-menu.menu {
    /* Align menu items to the right */
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    /* Align menu items to the center */
    // justify-content: center;

    li {
      > a {
        /* Regular menu item style */
        //line-height: 40px;
        color: $white;
        text-transform: uppercase;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 20px;

        &:hover {
          /* menu item style on hover */
          //background: $primary-color;
          color: $supernova-yellow;
        }
      }

      &.current-menu-item,
      &.current_page_ancestor,
      &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          //background: $primary-color;
          color: $supernova-yellow;
        }
      }

      &.has-dropdown {
        > a {
          /* Style of item with dropdown */
        }
      }

      &.is-active > a {
        /* Parent link style on dropdown hover */
        //background: $white;
        color: $supernova-yellow;
      }
    }

    /* Dropdown item styling */

    .submenu {
      z-index: 11;
      display: none;

      &.js-dropdown-active {
        display: block;
      }

      li {
        > a {
          /* Regular link in dropdown */
          background: $white;
          color: $primary-color;
          line-height: 30px;

          &:hover {
            /* Dropdown link on hover */
            background: lighten($primary-color, 10);
            color: $white;
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            background: lighten($primary-color, 10);
            color: $white;
          }
        }
      }

      .submenu {
        /* Styles for 2nd level dropdown menu */
      }
    }
  }
}

.search-form-container {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .search-button-show {
    cursor: pointer;
    color: $white;

    &:hover {
      color: $supernova-yellow;
    }
  }

  .search-form {
    position: absolute;
    right: 0;
    width: 300px;
    top: 120%;
    display: none;

    .search {
      //width: 250px;
      input {
        //border-radius: 9px 0;
      }
    }
  }

  .search-form.show {
    display: block;
  }
}
