/* ---------------------------------------
	Typography
--------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    color: inherit;
  }
}

h1,
.h1 {
  /* basic heading styles */
  font-family: $sub-font;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 88px */
}

h2,
.h2 {
  /* basic heading styles */
  font-family: $sub-font;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 62.4px */
}

h3,
.h3 {
  /* basic heading styles */
}

h4,
.h4 {
  /* basic heading styles */
  font-family: $sub-font;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%; /* 41.6px */
}

h5,
.h5 {
  /* basic heading styles */
  font-family: $sub-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

h6,
.h6 {
  /* basic heading styles */
  font-family: $sub-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
  letter-spacing: 1.6px;
  color: $sherwood-green;
}

p {
  /* basic paragraph styles */
  font-family: $font;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  &:empty {
    display: none;
  }

  a {
    text-decoration: underline;
  }
}

hr {
  margin: 56px 0;
  border-bottom: 4px solid $norway-green;
}

ol,
ul {
  /* basic list styles */
  font-size: inherit;

  li {
    /* basic list-item styles */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
  }
}

address {
  font-style: normal;
  margin-bottom: $global-margin;
}

a {
  color: $primary-color;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    color: darken($primary-color, 20);
  }
}

/* ---------------------------------------
	Tiny MCE formats
--------------------------------------- */

.text-large {
  font-size: 125%;
}

.text-align-justify {
  text-align: justify;
}

/* ---------------------------------------
	Tables
--------------------------------------- */
table {
  margin-bottom: 1rem;

  th,
  td {
    border: $table-border;
    padding: 0.75rem;
  }
}

/* ---------------------------------------
	Forms/Inputs
--------------------------------------- */

.no-outline {
  button,
  a,
  [tabindex] {
    outline: none;
  }
}

/* Placeholder styling */

input,
textarea {
  &::placeholder {
    opacity: 1;
  }
}

/* Input Styling */

[type='color'],
[type='date'],
[type='datetime-local'],
[type='datetime'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
textarea,
select,
.select-styled {
  $height: ($input-font-size * unitless-calc($input-line-height)) +
    (get-side($input-padding, 'top') + get-side($input-padding, 'bottom')) +
    rem-calc(get-border-value($input-border, 'width') * 2);

  /* STYLES GO THERE */
  height: $height;
  margin-bottom: 0;
}

textarea[rows] {
  /* Styles for TextArea */
  height: 150px;
  max-width: 100%;
}

[type='number'] {
  -moz-appearance: textfield;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

[type='checkbox'],
[type='file'],
[type='radio'] {
  margin-bottom: 0;
}

button,
.button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  border-width: $button-hollow-border-width;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  //&:hover,
  //&:focus {
  //}
}

/* Button additional styles */

.button {
  background-color: $deep-sage;
  text-transform: uppercase;
  font-family: $font;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  display: block;
  width: 100%;
  max-width: fit-content;
  position: relative;
  padding: 20px 64px 16px 24px;
  transition: all 0.5s ease-out;

  &:after {
    content: url('../../images/arrow.svg');
    position: absolute;
    width: 24px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    transition: all 0.5s ease-out;
    text-transform: uppercase;
  }
  &:hover,
  &:focus {
    /* basic hover and focus effects */
    padding-right: 80px;
    background-color: $deep-sage;
  }
}

.button--white {
  background-color: $white;
  color: $deep-sage;
  border: 1px solid $deep-sage;
  &:after {
    content: url('../../images/green-aroow.svg');
  }

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    color: $deep-sage;
    padding-right: 80px;
    background-color: $white;
  }
}
.button--downArrow {
  padding: 20px 56px 16px 24px;
  transition: all 0.5s ease-out;
  &:after {
    content: url('../../images/green-aroow.svg');
    transform: rotate(90deg) translate(-25%, -50%);
    transform-origin: center;
  }

  &:hover,
  &:focus {
    /* basic hover and focus effects */
    color: $deep-sage;
    padding-right: 60px;
    background-color: $white;
  }
}

.grid-x.row-reverse {
  flex-direction: row-reverse;
}

.bottom-graphics {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    clip-path: polygon(
      0 0,
      48.5% 0,
      50% 30%,
      51.5% 0,
      100% 0,
      100% 100%,
      0 100%
    );
    left: 50%;
    transform: translateX(-50%);
    width: 3000px;
    height: 80px;
    bottom: 0px;
    z-index: 2;
    background-color: $white;
  }
}
